echo TOKEN | docker login ghcr.io -u Lucas-Gruber --password-stdin

sudo docker build --platform linux/amd64 --label "org.opencontainers.image.source=https://github.com/ArisCorporation/API" -t ghcr.io/ariscorporation/api:latest .

sudo docker push ghcr.io/ariscorporation/api:latest
